<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <title>FreshVotes Products</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <h1>Products</h1>
        
        <div th:each="product : ${products}">
           <a th:href="@{/products/{productId}(productId=${product.id})}" th:text="${product.name}"></a>
        </div>
    </div>
</body>

</html>